apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: namespaces
  namespace: ops-team
spec:
  #dependsOn:
  #- name: namespaces
  #  namespace: dev-team # FORBIDDEN (list)
  kubeConfig:
    secretRef:
      name: gitops-reconciler-kubeconfig
      key: kubeconfig
  interval: 1m
  sourceRef:
    kind: GitRepository
    name: ops-team
  path: ./staging/namespaces
  prune: true
  healthChecks:
  - apiVersion: v1
    kind: Namespace
    name: apps
  - apiVersion: v1
    kind: Namespace
    name: tools
