apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: podinfo
  namespace: ops-team
spec:
  kubeConfig:
    secretRef:
      name: gitops-reconciler-kubeconfig
      key: kubeconfig
  dependsOn:
    - name: namespaces
  interval: 1m
  sourceRef:
    kind: GitRepository
    name: ops-team
  path: ./staging/podinfo
  prune: true
  healthChecks:
  - apiVersion: helm.toolkit.fluxcd.io/v2beta1
    kind: HelmRelease
    name: podinfo
    namespace: infra
    #namespace: apps # FORBIDDEN (list)
