apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: privilege-escalation
  namespace: ops-team
spec:
  kubeConfig:
    secretRef:
      name: gitops-reconciler-kubeconfig
      key: kubeconfig
  interval: 1m
  sourceRef:
    kind: GitRepository
    name: ops-team
  path: ./staging/privilege-escalation
  prune: true
